<html>
  <head>
    <title>The batcave</title>
    <style>
      a:link,a:visited{
        color:#509bd1;
        text-decoration: none;
      }
      a:hover{
        color:#4687b6;
      }
      body{
        background-image: url('/images/batcave.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:azure;
      }
    </style>
  </head>

  <body>
    <div style="background-color:#333; width:800px; min-height:300px; margin:0 auto; border:1px solid white; border-radius:9px; padding:10px;">
    <div >
    {{{body}}}
    </div>
      </div>
  </body>
</html>
