<h2>Purchasing:</h2>
<p>{{model}} - {{price}}</p>
  <form action="/auth-payment" method="get">
  <input type="submit" value="Pay with InstantPay">
  </form>
  <form action="/link-payment" method="get">
  <input type="submit" value="Pay with LinkPay">
  </form>