<h2>Greetings Master {{name}}</h2>
<p>Purchase a new batmobile today?</p>

<a href="http://localhost:3000/auth-user">
   <button>Yes</button>
</a>
 <style>
body {
  background-image: url('batcave.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 



