<h2>Greetings Master {{name}}</h2>
<p>Purchase a new batmobile today?</p>

<a href="http://localhost:3000/auth-user">
   <button>Yes with InstantPay</button>
</a>

<a href="http://localhost:3000/link">
   <button>Yes with LinkPay</button>
</a>





