<h2>Your batmobile has been ordered, payment is being processed by Stitch</h2>
<p>Payment status: {{paymentStatus}}</p>
<a onClick="window.location.reload()">Refresh payment status</a>
<span></span>
<a href="/">Exit</a>





