<h2>Status: {{message}}</h2>
<div class="display:flex">
    <form action="/purchase" method="get">
    <p>Currently available from Wayne Enterprises:</p>
     <input type="radio" id="amphibious" name="batmobile" value="frog">
    <label for="html">Amphibious batmobile - R10 M</label><br>
    <input type="radio" id="speeder" name="batmobile" value="speeder">
    <label for="css">Speeder batmobile - R8 M</label><br>
    <input type="radio" id="vtol" name="batmobile" value="VTOL">
    <label for="javascript">VTOL Batjet - R29 M</label> 
    <input type="submit" value="Purchase">
    </form>
</div>