<h2>Your batmobile has been ordered, payment is being processed by Stitch</h2>
<p>Payment status: {{paymentStatus}}</p>
<a href="/returnPayments" onClick="window.location.reload()">Refresh payment status</a>
<br></br>
<a href="/refund">Refund</a>
<br></br>
<a href="/">Exit</a>





